<h1>Grid List using Color Role</h1>
<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>Primary</mat-grid-tile>
    <mat-grid-tile>On-Primary</mat-grid-tile>
    <mat-grid-tile>Primary-Container</mat-grid-tile>
    <mat-grid-tile>On-Primary-Container</mat-grid-tile>
    
    <mat-grid-tile>Secondary</mat-grid-tile>
    <mat-grid-tile>On-Secondary</mat-grid-tile>
    <mat-grid-tile>Secondary-Container</mat-grid-tile>
    <mat-grid-tile>On-Secondary-Container</mat-grid-tile>
    
    <mat-grid-tile>Tertiary</mat-grid-tile>
    <mat-grid-tile>On-Tertiary</mat-grid-tile>
    <mat-grid-tile>Tertiary-Container</mat-grid-tile>
    <mat-grid-tile>On-Tertiary-Container</mat-grid-tile>
    
    <mat-grid-tile>Inverse</mat-grid-tile>
    <mat-grid-tile>On-Inverse</mat-grid-tile>
    <mat-grid-tile>Inverse-Container</mat-grid-tile>
    <mat-grid-tile>On-Inverse-Container</mat-grid-tile>
    
    <mat-grid-tile>Surface</mat-grid-tile>
    <mat-grid-tile>On-Surface</mat-grid-tile>
    <mat-grid-tile>Surface-Container</mat-grid-tile>
    <mat-grid-tile>On-Surface-Container</mat-grid-tile>
    
    <mat-grid-tile>Error</mat-grid-tile>
    <mat-grid-tile>On-Error</mat-grid-tile>
    <mat-grid-tile>Error-Container</mat-grid-tile>
    <mat-grid-tile>On-Error-Container</mat-grid-tile>
</mat-grid-list>